
  * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 13.33%;
  padding: 10px;
  top: -380px;
  position: relative;
  left: 87%;  /*column space of submit button
  */
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
