#container { width:120%; height:1%; margin:auto; }

#outerdiv {
position:fixed;
width:110%;
height:650px;
left:-9%;
overflow:hidden;
top: 50px;

}



#innerdiv {
position: absolute;
top:-250px;
left: -425px;
width:2800px;
height:200px;
}