#container { width:900px; height:800px; margin:auto; }

#outerdiv {
position: relative;
width:100%;  /*3800px*/
height:650px;       
left:-165px;   /*-165px*/
overflow:hidden;
top: -137px;   
z-index:19;
}



#innerdiv {
position: relative;
top:-250px;
left: -425px;
width:100%;
height:200px;
}

.info{
    position: relative;
    z-index: 24;
}
video{
    position: relative;
    width: 100%;
    right: 10%;
}